# Python Sets and Set Methods

## What is a Set?
A **set** in Python is an **unordered**, **mutable**, and **unique** collection of elements. It does not allow duplicate values.

### Creating a Set:
```python
# Empty set (must use set(), not {})
empty_set = set()

# Set with elements
numbers = {1, 2, 3, 4, 5}

# Mixed data types
mixed_set = {1, "Hello", 3.14, True}

# Creating a set from a list
unique_numbers = set([1, 2, 2, 3, 4, 4, 5])
print(unique_numbers)  # {1, 2, 3, 4, 5}
```

In [1]:
a = set()

In [3]:
type(a)

set

In [5]:
s = {4, 2, 63, 12, 82, 4}
s

{2, 4, 12, 63, 82}

##### Mixed data types:

In [6]:
mixed_set = {1, "Hello", 3.14, True}
mixed_set

{1, 3.14, 'Hello'}

##### Type Casting : Creating a set from a list:

In [7]:
unique_numbers = set([1, 3, 2, 1, 5, 6, 2])
unique_numbers

{1, 2, 3, 5, 6}

## Common Set Methods

| Method | Description | Example |
|--------|------------|---------|
| `add(x)` | Adds an element `x` to the set. | `my_set.add(10)` |
| `update(iterable)` | Adds multiple elements from an iterable. | `my_set.update([6, 7, 8])` |
| `remove(x)` | Removes `x` from the set (raises an error if not found). | `my_set.remove(3)` |
| `discard(x)` | Removes `x` from the set (does not raise an error if not found). | `my_set.discard(3)` |
| `pop()` | Removes and returns a random element. | `my_set.pop()` |
| `clear()` | Removes all elements from the set. | `my_set.clear()` |
| `copy()` | Returns a shallow copy of the set. | `new_set = my_set.copy()` |

In [28]:
s = {4, 2, 63, 12, 82, 4}

In [29]:
s.add(34)
s

{2, 4, 12, 34, 63, 82}

In [30]:
s.update([35, 19,4,83,888])
s

{2, 4, 12, 19, 34, 35, 63, 82, 83, 888}

In [31]:
s.remove(12)  #Removes x from the set (raises an error if not found).
s

{2, 4, 19, 34, 35, 63, 82, 83, 888}

In [32]:
s.discard(20)   #Removes x from the set (does not raise an error if not found).
s

{2, 4, 19, 34, 35, 63, 82, 83, 888}

In [33]:
s.pop()  #Removes and returns a random element.
s

{4, 19, 34, 35, 63, 82, 83, 888}

In [34]:
s.clear()  #Removes all elements from the set.
s

set()

In [35]:
s = {4, 2, 63, 12, 82, 4}

In [37]:
s.copy()  #Returns a shallow copy of the set.
s

{2, 4, 12, 63, 82}

## Set Operations

| Operation | Description | Example |
|-----------|------------|---------|
| `union(set2)` | Returns a new set with all unique elements from both sets. | `set1.union(set2)` |
| `intersection(set2)` | Returns a set with elements common to both sets. | `set1.intersection(set2)` |
| `difference(set2)` | Returns a set with elements in `set1` but not in `set2`. | `set1.difference(set2)` |
| `symmetric_difference(set2)` | Returns a set with elements in either `set1` or `set2`, but not both. | `set1.symmetric_difference(set2)` |
| `issubset(set2)` | Returns `True` if `set1` is a subset of `set2`. | `set1.issubset(set2)` |
| `issuperset(set2)` | Returns `True` if `set1` is a superset of `set2`. | `set1.issuperset(set2)` |

## Example Usage:
```python
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [38]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [46]:
set1.union(set2)  #Returns a new set with all unique elements from both sets.

{1, 2, 3, 4, 5, 6}

In [47]:
set1.intersection(set2)   #Returns a set with elements common to both sets.

{3, 4}

In [48]:
set1.difference(set2)   #Returns a set with elements in set1 but not in set2.

{1, 2}

In [49]:
set1.symmetric_difference(set2)  #Returns a set with elements in either set1 or set2, but not both.

{1, 2, 5, 6}

In [50]:
sub = {1,3}

In [52]:
sub.issubset(set1)   #Returns True if set1 is a subset of set2.

True

In [53]:
set1.issuperset(sub)

True