# Python Tuples and Tuple Methods

## What is a Tuple?
A **tuple** in Python is an ordered, immutable collection of elements. It is similar to a list, but once created, its elements cannot be modified.

### Creating a Tuple:
```python
# Empty tuple
empty_tuple = ()

# Tuple with elements
numbers = (1, 2, 3, 4, 5)

# Mixed data types
mixed_tuple = (1, "Hello", 3.14, True)

# Single element tuple (comma is necessary)
single_element = (42,)
```

In [1]:
e = ()

In [2]:
e

()

In [3]:
type(e)

tuple

In [4]:
l = []

In [5]:
l

[]

In [6]:
type(l)

list

In [7]:
t = (12, 21, 15, 34)

In [8]:
t

(12, 21, 15, 34)

In [9]:
len(t)

4

In [10]:
t[1]

21

## Tuple Packing and Unpacking
```python
# Packing
person = ("Alice", 25, "Engineer")

# Unpacking
name, age, profession = person
print(name)  # Alice
print(age)   # 25
```

In [11]:
person = ("Dharmik", 26, "Data-engineer")

In [12]:
name, age, profession = person

In [13]:
print(name)
print(age)
print(profession)

Dharmik
26
Data-engineer

## Common Tuple Methods

| Method | Description | Example |
|--------|------------|---------|
| `count(x)` | Returns the number of times `x` appears in the tuple. | `my_tuple.count(2)` |
| `index(x)` | Returns the index of the first occurrence of `x`. | `my_tuple.index(3)` |

In [14]:
person.count(26)

1

In [17]:
person.index("Data-engineer")

2

## Accessing Tuple Elements
```python
my_tuple = (10, 20, 30, 40)

# Indexing
print(my_tuple[1])  # 20

# Slicing
print(my_tuple[1:3])  # (20, 30)
```

In [21]:
tuple1 = (10, 20, 40, 80, 30)

In [23]:
print(tuple1[1])

20

In [25]:
print(tuple1[1:3]) #1st element is count but 3rd element is not count.

(20, 40)